<div class="row justify-content-center mb-5">
  <div class="d-flex col-md-11 align-items-center justify-content-between">
    <span class="display-4">
      House: <%= @house %>
    </span>
    <div class="d-inline">
      <span>
        <%= link_to edit_house_path(@house), class: "btn btn-lg btn-warning" do %>
        <i class="far fa-pencil "></i>
        <% end %>
      </span>
      <span>
        <%= link_to @house, method: :delete, class: "btn btn-lg btn-danger" do %>
        <i class="far fa-trash-alt"></i>
        <% end %>
      </span>
    </div>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-10">
    <div class="card">
      <h1 class="card-header h4 d-flex align-items-center justify-content-between">
        <%= @house.boxes.count %> Boxes

        <%= form_for Box.new(house: @house), html: {class: "form-inline"} do |f| %>
          <div class="form-group">
            <%= f.text_field :description, class:"form-control", placeholder: "New box description" %>
          </div>
          <%= f.hidden_field :house_id, value: @house.id %>
          <%= button_tag(class: "btn") do %>
            <i class="fas fa-plus fa-fw"></i>
          <% end %>
        <% end %>
      </h1>

      <div class="list-group list-group-flush">
        <%= render collection: @house.boxes, partial: "boxes/list_item", as: :box %>
      </div>
    </div>
  </div>
</div>
