<% was_validated = box.errors.any? %>

<% form_html_options = { novalidate: true, class: "mb-3" } %>

<%= form_for(box, html: form_html_options) do |f| %>
  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = box.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>

    <%= f.text_field :description,
                     class: description_class,
                     placeholder: "Enter description",
                     autofocus:true %>
    <% if description_was_invalid %>
      <% box.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% house_class = "form-control" %>
    <% house_was_invalid = box.errors.include?(:house) %>

    <% if was_validated %>
      <% if house_was_invalid %>
        <% house_class << " is-invalid" %>
      <% else %>
        <% house_class << " is-valid" %>
      <% end %>
    <% end %>

    <% options = {} %>

    <% if current_house &&
          box.house.nil? &&
          request.env["REQUEST_PATH"].include?("/new") %>
    <% end %>

    <% options[:selected] = current_house.id if current_house %>
    <%= f.label :house %>
    <%= f.collection_select :house_id,
                            House.order(:name),
                            :id,
                            :name,
                            options,
                            class: "form-control" %>

    <% if house_was_invalid %>
      <% box.errors.full_messages_for(:house).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <label>Destination Room</label>
  <div class="form-group justify-content-center d-flex mb-1">
    <div id="button-grid" class="btn-group-toggle" data-toggle="buttons">
      <%= f.label :destination_id_, id: "unassigned", class: "mb-1 btn btn-warning border border-warning #{'active' if @box.destination == nil}" do %>
        <%= f.radio_button :destination_id, "", autocomplete: "off" %> Unassigned<%= "*" if @box.destination == nil %>
      <% end %>

      <% destinations = Destination.order(:position) %>

      <% destinations.each do |destination| %>
        <%= f.label "destination_id_#{destination.id}", id: "position_#{destination.position}", class: "d-flex justify-content-center align-items-center room btn btn-secondary border border-dark #{'active' if @box.destination == destination}" do %>
          <%= f.radio_button :destination_id, destination.id, autocomplete: "off" %><span><%= destination.room_name %><%= "*" if @box.destination == destination %></span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <small class="text-muted">* Current box destination</small>
  </div>

  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
