<% was_validated = item.errors.any? %>

<% form_html_options = { novalidate: true, class: "mb-3" } %>

<%= form_for(item, html: form_html_options) do |f| %>
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = item.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>

    <%= f.text_field :name,
                     class: name_class,
                     placeholder: "Enter name",
                     autofocus:true %>
    <% if name_was_invalid %>
      <% item.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% box_class = "form-control" %>
    <% box_was_invalid = item.errors.include?(:box) %>

    <% if was_validated %>
      <% if box_was_invalid %>
        <% box_class << " is-invalid" %>
      <% else %>
        <% box_class << " is-valid" %>
      <% end %>
    <% end %>

    <% options = {prompt: 'Select a box or create a new box...'} %>
    <% if current_box &&
          item.box.nil? &&
          request.env["REQUEST_PATH"].include?("/new") %>
    <%# If an item is unassigned and we're on the edit page, we don't want to
    preselect any box %>
      <% options[:selected] = current_box.id %>
    <% end %>

    <%= f.label :box %>
    <%= f.collection_select :box_id,
                            Box.order(:id),
                            :id,
                            :to_s,
                            options,
                            class: "form-control" %>

    <% if box_was_invalid %>
      <% item.errors.full_messages_for(:box).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
